@charset "utf-8";
* { margin:0; padding:0; font-family: 'Noto Sans KR', 'Arial Narrow', Arial, sans-serif;}
li { list-style-type:none;}
img { border:0; vertical-align:middle;}
em,address { font-style:normal;}
a{ text-decoration:none; color:#000;}

body { margin:0 auto; max-width:61.25rem; font-family:"NotoSansKR", 고딕; font-weight:bold; /* background:url(../img/bg_grid.gif), url(../작업완성/re_sub01_레이아웃_수정.jpg) no-repeat top center; */}

#wrapper {
	display: grid; 
	grid-template-columns:1fr;
	grid-template-rows : repeat(2, auto) 1fr;
	grid-template-areas:	'header'
									'section'
									'footer';
}

/*header 얌얌*/
header { 
	grid-area:header; 
}
	#top { 
		display:flex; 
		justify-content:space-between;
		margin-top:-0.5rem;
	}
		#top h1 { padding-left:3.75rem;}
		#top .gnv { font-size:2.5rem;}
			#top .gnv a{ padding:0 1.875rem 0 1.5625rem;}

/*section 얌얌*/
section{ 
	width: 980px;
	height: 1080px;
	grid-area:section;
}
	video {  width: 100%; margin: 0 auto;margin-top:3rem;}
	#one {  margin-left: 10px;}
		#one h3{ font-size:1.5rem;}
	#two { margin-top:50px; margin-left: 10px; font-size:0.875rem; color:#666;}
		#two div { padding-bottom:1.4rem;}

/*footer 얌얌*/
footer { grid-area:footer; padding:3.2rem 0 3.2rem 0;}
	#map, #law { margin-left:-50px; display:inline-block; font-size:0.75rem; }
	#law { margin-left:2rem;}
	footer address { margin:20px 0 0 -50px; font-size:0.625rem; color:#666; line-height:-0.0625rem;}