@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Arial Narrow", Arial, sans-serif;
}
li {
  list-style-type: none;
}
img {
  border: 0;
  vertical-align: middle;
}
em,
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000;
}

#wrapper {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

#header {
  width: 100%;
  height: 100%;
}
#header .header1 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 95%;
  box-sizing: border-box;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}
#header .header1 div a img {
  padding: 22px 22px 22px 0;
  width: 80px;
}
#header .header1 nav a {
  display: block;
  padding: 22px;
  box-sizing: border-box;
  font-size: 32px;
}
#header .header2 {
  display: inline-block;
  margin-top: 100px;
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: url(../img/mainImg.jpg) no-repeat top/100%;
}
/*header 끝*/

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 50px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#section1 h1 {
  margin-right: 150px;
  width: calc(100%-780px);
  height: 100%;
  text-align: center;
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-size: 80px;
  font-weight: bold;
  object-fit: cover;
}
#section1 div {
  padding-top: 20px;
  width: 780px;
  height: 100%;
  font-size: 24px;
  box-sizing: border-box;
}
#section1 div p:nth-of-type(1) {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}
#section1 div a {
  position: relative;
}
#section1 div a img {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
}
/*section1 끝*/

#section2,
#section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 80px;
  width: 100%;
  height: 100%;
  background: url(../img/section1.jpg) no-repeat center/cover;
  box-sizing: border-box;
}
#section2 .section2_1,
#section4 .section4_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
  padding-left: 100px;
  width: 743px;
  height: 740px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
}
#section2 .section2_1 h1,
#section4 .section4_1 h1 {
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
}
#section2 .section2_1 p,
#section4 .section4_1 p {
  position: relative;
  top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fe5723;
}
#section2 .section2_1 p img,
#section4 .section4_1 p img {
  width: 69px;
}
#section2 .section2_2,
#section4 .section4_2 {
  width: 743px;
  height: 740px;
}
#section2 .section2_2 ul,
#section4 .section4_2 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#section2 .section2_2 ul li,
#section4 .section4_2 ul li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 50px;
  width: 100%;
  height: 178px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0 0 0 30px;
  cursor: pointer;
}
#section2 .section2_2 ul li:nth-of-type(2),
#section2 .section2_2 ul li:nth-of-type(3),
#section4 .section4_2 ul li:nth-of-type(2),
#section4 .section4_2 ul li:nth-of-type(3) {
  border-radius: 30px 0 0 30px;
}
#section2 .section2_2 ul li:nth-of-type(4),
#section4 .section4_2 ul li:nth-of-type(4) {
  border-radius: 30px 0 0 0;
}
#section2 .section2_2 ul li p {
  font-size: 32px;
  font-weight: bold;
}
#section2 .section2_2 ul li p:nth-last-child(1) {
  position: absolute;
  right: 30px;
  font-weight: normal;
}
#section2 .section2_2 ul li p span,
#section4 .section4_2 ul li p span {
  font-size: 24px;
  color: #666;
}
#section2 .section2_2 ul li a {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 178px;
}
#section2 .section2_2 ul li a p {
  font-size: 32px;
  font-weight: bold;
}
#section2 .section2_2 ul li a p:nth-last-child(1) {
  position: absolute;
  right: 0;
  font-weight: normal;
}
#section2 .section2_2 ul li a p span {
  font-size: 24px;
  color: #666;
}
/*section2 끝*/

#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#section3 .section3_1 {
  font-size: 80px;
  width: 85%;
  height: 100%;
  text-align: right;
}
#section3 .section3_2,
#section3 .section3_3 {
  display: flex;
  align-items: center;
  padding: 50px 30px;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #666;
}
#section3 .section3_2 {
  border-top: 1px solid #666;
}
#section3 .section3_2 div,
#section3 .section3_3 div {
  position: relative;
  width: 50%;
  height: 100%;
}
#section3 .section3_2 div:nth-of-type(2),
#section3 .section3_3 div:nth-of-type(2) {
  position: relative;
  font-size: 24px;
  color: #666;
}
#section3 .section3_2 div h2,
#section3 .section3_3 div h2 {
  display: inline;
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 80px;
}
#section3 .section3_2 div span,
#section3 .section3_3 div span {
  position: absolute;
  left: 180px;
  top: 20px;
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #666;
  line-height: 32px;
}
#section3 .section3_2 div img,
#section3 .section3_3 div img {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 120px;
  cursor: pointer;
}
/*section3 끝*/

#section4 {
  background: url(../img/section2.jpg) no-repeat center/cover;
}
#section4 .section4_2 ul li p {
  font-size: 28px;
  font-weight: bold;
}
#section4 .section4_2 ul li p:nth-last-child(1) {
  position: absolute;
  right: 40px;
  font-size: 40px;
  font-weight: normal;
}
/*section4 끝*/

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 80px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#footer .footerWrap {
  display: flex;
  width: 100%;
  height: 100%;
}
#footer .footerWrap div {
  font-size: 16px;
  font-weight: bold;
}
#footer .footerWrap div a {
  color: #333;
}
#footer .footerWrap .map {
  margin-right: 50px;
}
#footer > address {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #666;
}
#footer > address img {
  width: 100px;
}
/*footer 끝*/

/*keyframe*/
#section1 div:hover a img,
#section3 .section3_2 div:hover img,
#section3 .section3_3 div:hover img {
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    left: 0px;
  }
  50% {
    left: 30px;
  }
  100% {
    left: 0px;
  }
}

/*keyframe2*/
#section2 .section2_2 ul li a:hover p:nth-last-child(1),
#section2 .section2_2 ul li:hover p:nth-last-child(1),
#section4 .section4_2 ul li:hover p:nth-last-child(1) {
  animation-name: arrowRight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrowRight {
  0% {
    right: 40px;
  }
  50% {
    right: 30px;
  }
  100% {
    right: 40px;
  }
}

/* 스타일링*/
#section2 .section2_2 ul .secLink:hover {
  transition: all 0.5s;
  transform: scale(1.02);
  background-color: #fe5723;
}
#section2 .section2_1:hover p,
#section4 .section4_1:hover p {
  transition: all 0.8s;
  top: -250px;
  color: #fff;
}
#section2 .section2_1:hover p img,
#section4 .section4_1:hover p img {
  display: none;
}
