@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", "Arial Narrow", Arial, sans-serif;
}
li {
  list-style-type: none;
}
img {
  border: 0;
  vertical-align: middle;
}
em,
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: #000;
}

#wrapper {
  width: 100%;
  height: 100hv;
}

#header {
  width: 100%;
  height: 100%;
}
#header .header1 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  width: 100%;
  box-sizing: border-box;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
}
#header .header1 div a img {
  padding: 22px 22px 22px 0;
  width: 80px;
}
#header .header1 nav a {
  display: block;
  padding: 22px;
  box-sizing: border-box;
  font-size: 32px;
}
/*header 끝*/

#section {
  display: inline-block;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
#menu {
  display: inline-block;
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#menu > ul > li {
  font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}
#menu > ul > li > ul {
  margin-bottom: 30px;
}
#menu > ul > li > ul > li > a {
  display: block;
  padding: 15px 5px;
  font-size: 20px;
  font-weight: normal;
}
#menu > ul > li > ul > li > .menulink:hover {
  padding-left: 15px;
  transition: all 0.5s;
  background-color: rgba(255, 77, 0, 0.8);
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

article {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  height: 100px;
  background-color: rgba(255, 77, 0, 0.9);
}
article > div > a {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  padding-right: 30px;
  width: 100%;
  font-size: 20px;
  color: #fff;
}
article > div > a:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  text-shadow: 3px 3px 5px rgb(42, 42, 42);
}
/*section 끝*/
